In [6]:
#Read an Excel file
import pandas as pd
df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

# Display the DataFrame
print("\nDataFrame created:\n\n",df_excel.head(5))

<>:3: SyntaxWarning: invalid escape sequence '\H'
<>:3: SyntaxWarning: invalid escape sequence '\H'
C:\Users\Maharuj\AppData\Local\Temp\ipykernel_9504\2467673890.py:3: SyntaxWarning: invalid escape sequence '\H'
  df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

DataFrame created:

       Name  ID Number  CGPA     Department Semester  Age
0    Alice    2023001   3.8  Computer Sci.      3rd   23
1      Bob    2023002   3.5     Mechanical      2nd   22
2  Charlie    2023003   3.9     Electrical      1st   21
3    David    2023004   3.6          Civil      4th   24
4      Eva    2023005   3.7          Civil      2nd   22

In [7]:
# Delete a column
df = df_excel.drop('CGPA', axis=1)

# Delete a row (index 1)
df = df_excel.drop(4, axis=0)  # Drop the second row

# Display the result
print(df)

      Name  ID Number  CGPA     Department Semester  Age
0    Alice    2023001   3.8  Computer Sci.      3rd   23
1      Bob    2023002   3.5     Mechanical      2nd   22
2  Charlie    2023003   3.9     Electrical      1st   21
3    David    2023004   3.6          Civil      4th   24
5    Frank    2023006   3.4  Computer Sci.      3rd   24
6    Grace    2023007   3.3     Mechanical      1st   25
7    Helen    2023008   3.5     Electrical      2nd   23
8      Ian    2023009   4.0  Computer Sci.      4th   22
9     Jack    2023010   3.2          Civil      3rd   25

In [ ]:
#Iterate Over Rows and Columns in Pandas
#Read an Excel file
import pandas as pd
df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

# Display the DataFrame
print("\nDataFrame created:\n\n",df_excel.head())

for row in df_excel.iterrows():
    print(row)

DataFrame created:

       Name  ID Number  CGPA     Department Semester  Age
0    Alice    2023001   3.8  Computer Sci.      3rd   23
1      Bob    2023002   3.5     Mechanical      2nd   22
2  Charlie    2023003   3.9     Electrical      1st   21
3    David    2023004   3.6          Civil      4th   24
4      Eva    2023005   3.7          Civil      2nd   22
(0,  Name                 Alice
ID Number           2023001
CGPA                    3.8
Department    Computer Sci.
Semester                3rd
Age                      23
Name: 0, dtype: object)
(1,  Name                Bob
ID Number        2023002
CGPA                 3.5
Department    Mechanical
Semester             2nd
Age                   22
Name: 1, dtype: object)
(2,  Name            Charlie
ID Number        2023003
CGPA                 3.9
Department    Electrical
Semester             1st
Age                   21
Name: 2, dtype: object)
(3,  Name           David
ID Number     2023004
CGPA              3.6
Department      Civil
Semester          4th
Age                24
Name: 3, dtype: object)
(4,  Name             Eva
ID Number     2023005
CGPA              3.7
Department      Civil
Semester          2nd
Age                22
Name: 4, dtype: object)
(5,  Name                 Frank
ID Number           2023006
CGPA                    3.4
Department    Computer Sci.
Semester                3rd
Age                      24
Name: 5, dtype: object)
(6,  Name              Grace
ID Number        2023007
CGPA                 3.3
Department    Mechanical
Semester             1st
Age                   25
Name: 6, dtype: object)
(7,  Name              Helen
ID Number        2023008
CGPA                 3.5
Department    Electrical
Semester             2nd
Age                   23
Name: 7, dtype: object)
(8,  Name                   Ian
ID Number           2023009
CGPA                    4.0
Department    Computer Sci.
Semester                4th
Age                      22
Name: 8, dtype: object)
(9,  Name            Jack
ID Number     2023010
CGPA              3.2
Department      Civil
Semester          3rd
Age                25
Name: 9, dtype: object)

<>:4: SyntaxWarning: invalid escape sequence '\H'
<>:4: SyntaxWarning: invalid escape sequence '\H'
C:\Users\Maharuj\AppData\Local\Temp\ipykernel_9504\1942219792.py:4: SyntaxWarning: invalid escape sequence '\H'
  df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

In [20]:
#Iterate Over Rows and Columns in Pandas
#Read an Excel file
import pandas as pd
df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

# Display the DataFrame
print("\nDataFrame created:\n\n",df_excel)

for row in df_excel.itertuples():
    print(row)

DataFrame created:

       Name  ID Number  CGPA     Department Semester  Age
0    Alice    2023001   3.8  Computer Sci.      3rd   23
1      Bob    2023002   3.5     Mechanical      2nd   22
2  Charlie    2023003   3.9     Electrical      1st   21
3    David    2023004   3.6          Civil      4th   24
4      Eva    2023005   3.7          Civil      2nd   22
5    Frank    2023006   3.4  Computer Sci.      3rd   24
6    Grace    2023007   3.3     Mechanical      1st   25
7    Helen    2023008   3.5     Electrical      2nd   23
8      Ian    2023009   4.0  Computer Sci.      4th   22
9     Jack    2023010   3.2          Civil      3rd   25
Pandas(Index=0, _1='Alice', _2=2023001, CGPA=3.8, Department='Computer Sci.', Semester='3rd', Age=23)
Pandas(Index=1, _1='Bob', _2=2023002, CGPA=3.5, Department='Mechanical', Semester='2nd', Age=22)
Pandas(Index=2, _1='Charlie', _2=2023003, CGPA=3.9, Department='Electrical', Semester='1st', Age=21)
Pandas(Index=3, _1='David', _2=2023004, CGPA=3.6, Department='Civil', Semester='4th', Age=24)
Pandas(Index=4, _1='Eva', _2=2023005, CGPA=3.7, Department='Civil', Semester='2nd', Age=22)
Pandas(Index=5, _1='Frank', _2=2023006, CGPA=3.4, Department='Computer Sci.', Semester='3rd', Age=24)
Pandas(Index=6, _1='Grace', _2=2023007, CGPA=3.3, Department='Mechanical', Semester='1st', Age=25)
Pandas(Index=7, _1='Helen', _2=2023008, CGPA=3.5, Department='Electrical', Semester='2nd', Age=23)
Pandas(Index=8, _1='Ian', _2=2023009, CGPA=4.0, Department='Computer Sci.', Semester='4th', Age=22)
Pandas(Index=9, _1='Jack', _2=2023010, CGPA=3.2, Department='Civil', Semester='3rd', Age=25)

<>:4: SyntaxWarning: invalid escape sequence '\H'
<>:4: SyntaxWarning: invalid escape sequence '\H'
C:\Users\Maharuj\AppData\Local\Temp\ipykernel_9504\1180162560.py:4: SyntaxWarning: invalid escape sequence '\H'
  df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

In [18]:
# Iterating over columns
#Read an Excel file
import pandas as pd
df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

# Display the DataFrame
print("\nDataFrame created:\n\n",df_excel.head())

for col in df.columns:
     print(col)
     #print(f"Column: {col}, Data: {df[col]}")

DataFrame created:

       Name  ID Number  CGPA     Department Semester  Age
0    Alice    2023001   3.8  Computer Sci.      3rd   23
1      Bob    2023002   3.5     Mechanical      2nd   22
2  Charlie    2023003   3.9     Electrical      1st   21
3    David    2023004   3.6          Civil      4th   24
4      Eva    2023005   3.7          Civil      2nd   22
 Name
ID Number
CGPA
Department
Semester
Age

<>:4: SyntaxWarning: invalid escape sequence '\H'
<>:4: SyntaxWarning: invalid escape sequence '\H'
C:\Users\Maharuj\AppData\Local\Temp\ipykernel_9504\3666092169.py:4: SyntaxWarning: invalid escape sequence '\H'
  df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

In [27]:
# Iterating over columns
#Read an Excel file
import pandas as pd
df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

# Display the DataFrame
print("\nDataFrame created:\n\n",df_excel.head())

for a,b in df_excel.items():
     print(a,b)
     #print(f"Column: {col}, Data: {df[col]}")

DataFrame created:

       Name  ID Number  CGPA     Department Semester  Age
0    Alice    2023001   3.8  Computer Sci.      3rd   23
1      Bob    2023002   3.5     Mechanical      2nd   22
2  Charlie    2023003   3.9     Electrical      1st   21
3    David    2023004   3.6          Civil      4th   24
4      Eva    2023005   3.7          Civil      2nd   22
 Name 0      Alice
1        Bob
2    Charlie
3      David
4        Eva
5      Frank
6      Grace
7      Helen
8        Ian
9       Jack
Name:  Name, dtype: str
ID Number 0    2023001
1    2023002
2    2023003
3    2023004
4    2023005
5    2023006
6    2023007
7    2023008
8    2023009
9    2023010
Name: ID Number, dtype: int64
CGPA 0    3.8
1    3.5
2    3.9
3    3.6
4    3.7
5    3.4
6    3.3
7    3.5
8    4.0
9    3.2
Name: CGPA, dtype: float64
Department 0    Computer Sci.
1       Mechanical
2       Electrical
3            Civil
4            Civil
5    Computer Sci.
6       Mechanical
7       Electrical
8    Computer Sci.
9            Civil
Name: Department, dtype: str
Semester 0    3rd
1    2nd
2    1st
3    4th
4    2nd
5    3rd
6    1st
7    2nd
8    4th
9    3rd
Name: Semester, dtype: str
Age 0    23
1    22
2    21
3    24
4    22
5    24
6    25
7    23
8    22
9    25
Name: Age, dtype: int64

<>:4: SyntaxWarning: invalid escape sequence '\H'
<>:4: SyntaxWarning: invalid escape sequence '\H'
C:\Users\Maharuj\AppData\Local\Temp\ipykernel_9504\1776318847.py:4: SyntaxWarning: invalid escape sequence '\H'
  df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path