In [4]:
#Read an Excel file
import pandas as pd
df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

# Display the DataFrame
print("\nDataFrame created:\n\n",df_excel.head(5))

<>:3: SyntaxWarning: invalid escape sequence '\H'
<>:3: SyntaxWarning: invalid escape sequence '\H'
C:\Users\Maharuj\AppData\Local\Temp\ipykernel_15104\2467673890.py:3: SyntaxWarning: invalid escape sequence '\H'
  df_excel = pd.read_excel('E:\Higher Studies\BUET Poject\Ansary Sir\Python\Pandas\Student file.xlsx')  # Replace 'data.xlsx' with your Excel file path

DataFrame created:

       Name  ID Number  CGPA     Department Semester  Age
0    Alice    2023001   3.8  Computer Sci.      3rd   23
1      Bob    2023002   3.5     Mechanical      2nd   22
2  Charlie    2023003   3.9     Electrical      1st   21
3    David    2023004   3.6          Civil      4th   24
4      Eva    2023005   3.7          Civil      2nd   22

In [7]:
# Delete a column
df = df_excel.drop('CGPA', axis=1)

# Delete a row (index 1)
df = df_excel.drop(4, axis=0)  # Drop the second row

# Display the result
print(df)

      Name  ID Number  CGPA     Department Semester  Age
0    Alice    2023001   3.8  Computer Sci.      3rd   23
1      Bob    2023002   3.5     Mechanical      2nd   22
2  Charlie    2023003   3.9     Electrical      1st   21
3    David    2023004   3.6          Civil      4th   24
5    Frank    2023006   3.4  Computer Sci.      3rd   24
6    Grace    2023007   3.3     Mechanical      1st   25
7    Helen    2023008   3.5     Electrical      2nd   23
8      Ian    2023009   4.0  Computer Sci.      4th   22
9     Jack    2023010   3.2          Civil      3rd   25

In [ ]:
#Iterate Over Rows and Columns in Pandas
for index, row in df_excel.iterrows():
    print(f"Index: {index}")
    for col_name in df_excel.columns:
        print(f"  {col_name}: {row[col_name]}")

Index: 0
   Name: Alice
  ID Number: 2023001
  CGPA: 3.8
  Department: Computer Sci.
  Semester: 3rd
  Age: 23
Index: 1
   Name: Bob
  ID Number: 2023002
  CGPA: 3.5
  Department: Mechanical
  Semester: 2nd
  Age: 22
Index: 2
   Name: Charlie
  ID Number: 2023003
  CGPA: 3.9
  Department: Electrical
  Semester: 1st
  Age: 21
Index: 3
   Name: David
  ID Number: 2023004
  CGPA: 3.6
  Department: Civil
  Semester: 4th
  Age: 24
Index: 4
   Name: Eva
  ID Number: 2023005
  CGPA: 3.7
  Department: Civil
  Semester: 2nd
  Age: 22
Index: 5
   Name: Frank
  ID Number: 2023006
  CGPA: 3.4
  Department: Computer Sci.
  Semester: 3rd
  Age: 24
Index: 6
   Name: Grace
  ID Number: 2023007
  CGPA: 3.3
  Department: Mechanical
  Semester: 1st
  Age: 25
Index: 7
   Name: Helen
  ID Number: 2023008
  CGPA: 3.5
  Department: Electrical
  Semester: 2nd
  Age: 23
Index: 8
   Name: Ian
  ID Number: 2023009
  CGPA: 4.0
  Department: Computer Sci.
  Semester: 4th
  Age: 22
Index: 9
   Name: Jack
  ID Number: 2023010
  CGPA: 3.2
  Department: Civil
  Semester: 3rd
  Age: 25